@page "/Account/Eligibility"
@model DTD_Mentorship_Project.Pages.Eligibility


@{
    Layout = "~/Pages/Shared/_LayoutNoLeft.cshtml";
}

<!--Add Jquery headers to initlize datepickers-->
<head>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Include jQuery UI with Datepicker and Timepicker -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css">

</head>


<main> 
      
        <div class="container">
            <div class="row">
                <!-- Add this section to display messages -->
                @if (Model.Error.Length >0)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>@Model.Error</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label=" = "Close"></button>
                    </div>
                }
                else if (Model.Success.Length >0)
                {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.Success</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label=" = "Close"></button>
                </div>
                }
                <!-- End of message section -->
                <form method="post">

                    <div class="form-group mt-2">

                            <div class="row">
                                <div class="col-12 mt-3">
                                    <label class="dtd_font_bold p-0" for="dtd_usertype">Identify yourself.  I am a:</label>
                                <select class="form-select" title="usertype" id="dtd_usertype" data-url="/Account" asp-for="SelectedUserTypeId">
                                        <option selected="selected" value="0">Select One</option>
                                        <option value="1">Youth (Ages 12 – 17)</option>
                                        <option value="2">Young Adult (Ages 18 – 24)</option>
                                        <option value="8">Adult (Ages 25 - 59)</option>
                                        <option value="9">Older Adult (Ages 60+)</option>
                                        <option value="3">Organization Participant or Member</option>
                                        <option value="4">Small Business Owner</option>
                                        <option value="5">Educator</option>
                                        <option value="6">Partner</option>
                                        <option value="7">Mentor</option>
                                        <option value="8">Other</option>
                                    </select>
                                <span class="text-danger font-weight-bold" asp-validation-for="SelectedUserTypeId"></span>
                                </div>
                            </div>


     <div class="eligibility-form mt-3" id="mentorEligibilityForm" style="display: none;">
            <div class="row">
                <div class="col-12">
                    <h2>Mentor Eligibility</h2>
                </div>
            </div>
 

    <div style="">
        <div class="row mt-3">
            <div class="form-group col-12 py-1">
                <p>Membership eligibility criteria for Young Adults: Must be age 18 to 24 and reside in a targeted service area in LA County.</p>
                <p>Enter the physical street address where you reside. Then click the ‘Check Eligibility’ button.</p>
            </div>
        </div>
   <!--<div class="text-danger font-weight-bold ml-2" ><ul><li style="display:none"></li>
</ul>
    </div> -->

        <div class="row">

            <div class="form-group col-12 py-1">
                <label class="col-form-label">* Street Address where you reside</label>
                <input class="form-control" asp-for="Address">
                <span class="text-danger font-weight-bold" asp-validation-for="Address"></span>
            </div>

            <div class="form-group col-12 col-md-6">
                <label for="City">* City</label>
                <input class="form-control" asp-for="City">
                <span class="text-danger font-weight-bold" asp-validation-for="City"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="State">* State</label>
                <select class="form-select" asp-for="State">
                    <option>California</option>
                    <option>NewYork</option>
                    <option>Arizona</option>
                    <option>Texas</option>
                    <option>Detroit</option>
                </select>
                <span class="text-danger font-weight-bold" asp-validation-for="State"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="Zip">* Zip</label>
                <input class="form-control" asp-for="Zip">
                <span class="text-danger font-weight-bold" asp-validation-for="Zip"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="DOB">* Date of Birth</label>
                <input type="text" class="form-control datepicker" asp-for="DOB" value="">
                <span class="text-danger font-weight-bold " asp-validation-for="DOB"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="FieldofWork">* Field of Work</label>
                <input class="form-control" asp-for="FieldofWork">
                <span class="text-danger font-weight-bold " asp-validation-for="FieldofWork"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="Degree">* Degree</label>
                <input class="form-control" asp-for="Degree">
                <span class="text-danger font-weight-bold" asp-validation-for="Degree"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="Company">* Company</label>
                <input class="form-control" asp-for="Company">
                <span class="text-danger font-weight-bold" asp-validation-for="Company"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="Availability">* Availability</label>
                <input class="form-control availability" asp-for="Availability">
                <span class="text-danger font-weight-bold" asp-validation-for="Availability"></span>
            </div>

            <div class="form-group mt-3">
            <label for="TermsofService">
                    <input type="checkbox" asp-for="TermsofServiceCheckbox"/> When applying as a mentor, I agree to the <a href="/TOS">Terms and Conditions</a> of Delete the Divide*
            </label>
            <span class="text-danger font-weight-bold" asp-validation-for="TermsofServiceCheckbox"></span>

        </div>
        <br>
        <div class="form-group mt-3">
                <button type="submit" class="btn dark-button float-right">Check Eligibility</button>
        </div>
    </div>
    </div>
       </div>
        </form>


            </div>
        </div>
    
    <button type="button" id="modalTrigger" class="btn btn-primary d-none" data-toggle="modal" data-target="#eligibilityModal"></button>

    <div class="modal fade" id="eligibilityModal" tabindex="-1" role="dialog" aria-labelledby="eligibilityModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content full section-3 odd highlights dtd_info_box border-gradient-purple" style="background-color:#040402">
                <div class="modal-header">
                    <h3 class="m-0 text-center">Get Involved</h3>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body pt-0">
                    <div class="col-12">
                        <p>Thank you for your interest in getting involved with Delete The Divide™. After you register for an account, our team will manually review your application for approval. Please click the 'CONTINUE' button below to complete the registration form. We appreciate your patience and look forward to potentially having you as part of our community.</p>
                        <p class="text-center"><a class="btn ml-lg-auto dark-button" href="/Account/Register/Mentor">CONTINUE</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!--Create Date picker-->
<script>
    jQuery(function ($) {
        // Assuming the date format is MM/DD/YYYY
        // for DOB picker
        $(".datepicker").datepicker({
            dateFormat: 'mm-dd-yy',
            changeMonth: true,
            changeYear: true,
            yearRange: '-100:+0',
        });

        // for Availability Picker
        // Add timepicker to the input field with the class "availability"
        $(".availability").datetimepicker({
            dateFormat: 'mm-dd-yy', // corrected
            timeFormat: 'hh:mm tt',
            stepMinute: 15, // Set your desired time slot interval
            minDate: 0, // Set the minimum date to the current date
            changeMonth: true,
            changeYear: true,
            yearRange: '-100:+0',
            // Set specific time slots (modify as needed)
            addSliderAccess: true,
            sliderAccessArgs: { touchonly: false },
            beforeShow: function (input, inst) {
                inst.dpDiv.find('.ui-slider').slider('option', 'step', 15);
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        // Function to show/hide the mentor eligibility form
        function toggleMentorEligibilityForm() {
            var selectedValue = $('#dtd_usertype').val();
            if (selectedValue == "7") { // Assuming "7" is the value for "Mentor"
                $('#mentorEligibilityForm').show();
            } else {
                $('#mentorEligibilityForm').hide();
            }
        }

        // Check the dropdown value on page load
        toggleMentorEligibilityForm();

        // Bind the change event of the dropdown
        $('#dtd_usertype').change(toggleMentorEligibilityForm);
    });
</script>

<script>
    $(document).ready(function () {
        // Check if eligibility is confirmed after page reload
        var eligibilityConfirmed = '@TempData["EligibilityConfirmed"]';
        if (eligibilityConfirmed === 'True') {
            $('#modalTrigger').click(); // Trigger the modal
        }
    });
</script>