@page "/mentorship"
@model DTD_Mentorship_Project.Pages._MentorshipModel


<!DOCTYPE html>
<html>

<head>
	<title>Login and signup</title>
	<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" href="styles.css">
	
	
</head>

<body>
	<!-- Top Nav Start -->
	<!-- Header -->
	<header id="header">
		<!-- Navbar -->
		<nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
			<div class="container header">
				<!-- Navbar Brand-->
				<a class="navbar-brand" href="/">
					<img src="https://members.deletethedivide.org/assets/images/DTDLogo_GoldPMS_HORIZ.png" alt="Delete the divide" style="width: 240px; height: auto !important; max-height: inherit;">
				</a>
				<!-- Navbar Items -->
				<ul class="navbar-nav action">
					<li class="nav-item ml-3">
						<a class="btn dark-button" href="/Profile/Dashboard"><iconify-icon icon="cil:user" style="font-size: 20px;margin-right: 5px;
							"></iconify-icon>
							My Profile</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
	<!-- Top Nav End -->
	<style>

		.custom h5 {
			margin: 0.5rem 0;
			font-size: 1.0rem;
			font-weight: var(--h2-weight);
			line-height: 2;
			font-family: var(--h2-font);
			color: var(--primary-t-color);
			-ms-word-wrap: break-word;
			word-wrap: break-word;
			color: white;
		}
	
		.custom .icon {
			font-size: 24px;
		}
	
		.list-group-item {
			border-color: #191919 !important;
			background-color: black;
			
		}
		a:hover {
  text-decoration: none;
}
	</style>
	
	<section id="content" class="section-3 odd ">



		<nav class="d-flex d-md-none navbar navbar-expand-lg navbar-dark primary-color w-100 d-flex justify-content-between">
	
			<!-- Navbar brand -->
			<div>
	
				<!-- Collapse button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
	
	
			<!-- Collapsible content -->
			<!-- Collapsible content -->
		</nav>

	<div class="collapse navbar-collapse w-100 " style="z-index:1000;" id="basicExampleNav">

        <!-- Links -->
        <ul class="list-group position-absolute bg-dark  w-100 list-group-flush pl-3 pr-3" style="z-index:1000;">
            <li class="list-group-item custom pr-3">
                <a class="custom d-block" href="/Profile/Dashboard"><i class="icon icon-home d-inline ml-3"></i><h5>Home</h5></a>
            </li>
            <li class="list-group-item custom pr-3">
                <a class="custom d-block" href="/Profile/Profile"><i class="icon icon-user d-inline ml-3"></i><h5>Edit Profile</h5></a>

            </li>
            <li class="list-group-item custom pr-3">
                <a class="custom d-block" href="/Profile/MyPathways"><i class="icon icon-direction d-inline ml-3"></i><b class="text-white">My Pathways</b></a>

            </li>
            <li class="list-group-item">
                <a class="custom d-block" href="/Profile/Services"><i class="icon icon-screen-desktop d-inline ml-3"></i><b class="text-white">Services</b></a>

            </li>
            <li class="list-group-item">
                <a class="custom d-block" href="/Profile"><i class="icon icon-screen-desktop d-inline ml-3"></i><b class="text-white">Resources</b></a>

            </li>
            <li class="list-group-item custom pr-3">
                <a class="custom d-block" href="/Account/Logout"><i class="icon icon-login d-inline ml-3"></i><b class="text-white">Logout</b></a>

            </li>
        </ul>
    </div>
	<div class="container">
        <div class="row content">
            <!-- Sidebar -->
            <div class="d-none d-md-block col-12 col-md-3 pl-md-3 p-0 float-left sidebar">
                <div class="row">
                    <div class="col-12 align-self-center text-left">


                        <!-- Widget [services] -->
                        <div class="item widget-services">
                            <ul class="list-group list-group-flush widget-services">
                                <li class="list-group-item pt-0" style="border-top:0px !important">
                                    <a class="ml-0 custom" href="/Profile/Dashboard"><iconify-icon icon="la:home"></iconify-icon><h5>Home</h5></a>

                                </li>
                                <li class="list-group-item">
                                    <a class="custom" href="/Profile/Profile"><iconify-icon icon="cil:user" ></iconify-icon><h5>Edit Profile</h5></a>

                                </li>
                                <li class="list-group-item">
                                    <a class="custom" href="/Profile/MyPathways"><iconify-icon icon="simple-line-icons:direction" ></iconify-icon>
										<h5>My Pathways</h5></a>

                                </li>
                                <li class="list-group-item">
                                    <a class="custom" href="/Profile/Services"><iconify-icon icon="teenyicons:screen-alt-outline"></iconify-icon>
										<h5>Services</h5></a>

                                </li>
								<li class="list-group-item">
                                    <a class="custom" href="/Profile/Mentorship"><iconify-icon icon="teenyicons:screen-alt-outline"></iconify-icon>
										<h5>Mentorship</h5></a>

                                </li>
                                <li class="list-group-item">
                                    <a class="custom" href="/Profile/Resources"><iconify-icon icon="teenyicons:screen-alt-outline"></iconify-icon>
										<h5>Resources</h5></a>

                                </li>
                                <li class="list-group-item">
                                    <a class="custom" href="/Account/Logout"><iconify-icon icon="ic:outline-log-in"></iconify-icon><h5>Logout</h5></a>

                                </li>


                            </ul>
                        </div>



                    </div>
                </div>
            </div>
 <!-- Main -->
 <main class="col-12 col-md-9 p-0">

	<!-- Text -->
	<div class="row">
		<div class="col-12 align-self-center">

			


<!--<h2 class="featured ml-0">Profile Home</h2>-->

<div class="row mt-4 mt-md-0">

<div class="col-4 col-md-3 mb-4 text-center text-white">
MENTORSHIP PAGE
</div>
		</div>
	</div>
	</section>
</body>
<style>
    /* ul {
	float: right;
	display: block;
	
} */
/* li {
	
  flex-wrap: wrap;
  gap: 1rem;
  
  align-items: center;
  
} */


.widget-services li {
  display: flex;
  align-items: start;
}
.list-group-item {
  margin: 0;
  background: none;
  font-size: 1rem;
  padding-right: 0;
  padding-left: 0;
}

.sidebar ul li a:not(.btn) {
  color: inherit;
  overflow-wrap: break-word;
}
.list-group-item a:not(.btn) {
  color: inherit;
}
h5 {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  font-weight: var(--h2-weight);
  line-height: 1.2;
  font-family: var(--h2-font);
  color: var(--primary-t-color);
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.container {
  max-width: 1170px;
  padding: 0;
}

.widget-services li a {
  display: flex;
  align-items: start;
}
.sidebar .item:last-child {
  margin-bottom: 0;
}
.sidebar ol, .sidebar ul {
  list-style: none;
  padding: 0;
}
a.btn.dark-button{
text-decoration: none;
border-width: 2px; 
align-items: center;
  display: flex;
  border-image: linear-gradient(45deg, darkblue, darkorchid,#FDB927,#FDB927) 1;
background: black;
  color: orange;
  padding: 0.5rem 2rem;
  /* transition: background 0.4s, color 0.4s; */
}

/* a.btn.dark-button i.fa.fa-user{
  width: 2px;
  height: 2px;
  float: left;
} */
a.btn.dark-button:hover{
  
  background:linear-gradient(45deg, darkblue, darkorchid,#FDB927,#FDB927);
    color: #FDB927;
    /* border-style: solid; */
    /* padding: 0.5rem 2rem; */
  }
  
  .list-group .list-group-item iconify-icon {
    color:#FDB927;
    margin-right: 15px;
  margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
  .row {
    margin-left: 0;
    margin-right: 0;
}
section {
  position: relative;
  width: 100%;

  padding: 130px 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
header {
  position: relative;
  z-index: 5;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body{
	font-family: 'Poppins', sans-serif;
  font-size:16px;
  width: 100%;
    height: 100%;
	background-color: black;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}
main {
  padding: 0;
}
section.section-3 {
  background-color: var(--section-3-bg-color);
  background-image: var(--section-3-bg-image);
}
section {
  position: relative;
  width: 100%;
  padding: 60px 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
</style>
</html>


