@page "/signup"
@model DTD_Mentorship_Project.Pages._Signup


@* css rules here from jorge's signup branch
 *@

@* :root{
    --header-bg-color: #040402;
    --nav-item-color: #f5f5f5;
    --top-nav-item-color: #f5f5f5;
    --hero-bg-color: #040402;
    --card-bg-color: #fff;
    --section-1-bg-color: #111111;
    --section-2-bg-color: #191919;
    --section-3-bg-color: #040402;
    --section-4-bg-color: #111111;
    --section-5-bg-color: #191919;
    --section-6-bg-color: #040402;
    --section-7-bg-color: #111111;
    --primary-p-color: #a3a3a3;
    --footer-bg-color: #191919;
}
.dark-button-active {
    padding: 10px 25px;
    background-color: var(--primary-color) !important;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%) !important;
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%) !important;
    color: var(--white-color) !important;
}
    .form-row {
    display: flex;
    flex-direction: column;
}

.form-row label {
    flex: 1;
    margin-right: 10px; 
}

.form-row input {
    flex: 1;
}

.form-cols {
    display: flex;
    flex-direction: row;
}
body{
    background-color: var(--section-3-bg-color);
    @* background-image: var(--section-3bg-im); 
}
input[type=checkbox] { 
    vertical-align: middle; 
    display: inline-block;

}

.id{
    padding: 0px;
} *@


<main> 
      
    <section class="section-3 odd highlights">
        <div class="container">
            <div class="row">
                <form method="post" action="/PlaceholderPage">

                    <div class="form-group mt-2">

                            <div class="row">
                                <div class="col-12 mt-3">
                                    <label class="dtd_font_bold p-0" for="dtd_usertype">Identify yourself.  I am a:</label>
                                    <select class="form-control" id="dtd_usertype" data-url="/Account" data-val="true" data-val-required="The SelectedUserTypeId field is required." placeholder="Mentor" name="SelectedUserTypeId">
                                        <option selected="selected" value="0">Select One</option>
                                        <option value="1">Youth (Ages 12 – 17)</option>
                                        <option value="2">Young Adult (Ages 18 – 24)</option>
                                        <option value="8">Adult (Ages 25 - 59)</option>
                                        <option value="9">Older Adult (Ages 60+)</option>
                                        <option value="3">Organization Participant or Member</option>
                                        <option value="4">Small Business Owner</option>
                                        <option value="5">Educator</option>
                                        <option value="6">Partner</option>
                                        <option value="7">Mentor</option>
                                        <option value="8">Other</option>
                                    </select>
                                    <input type="hidden" id="SelectedUserTypeId" name="SelectedUserTypeId" value="2">
                                </div>
                            </div>


                            <div class="eligibility-form mt-3">
            <div class="row">
                <div class="col-12">
                    <h2>Mentor Eligibility</h2>
                </div>
            </div>
 

    <div id="regularForm" style="">
        <div class="row mt-3">
            <div class="form-group col-12 py-1">
                <p>Membership eligibility criteria for Young Adults: Must be age 18 to 24 and reside in a targeted service area in LA County.</p>
                <p>Enter the physical street address where you reside. Then click the ‘Check Eligibility’ button.</p>
            </div>
        </div>
    <div class="text-danger font-weight-bold ml-2 validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul>
    </div>

        <div class="row">

            <div class="form-group col-12 py-1">
                <label for="Address" class="col-form-label">* Street Address where you reside</label>
                <input class="form-control" required="required" type="text" id="Address" name="Address" value="">
                <span class="text-danger font-weight-bold field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group col-12 col-md-6">
                <label for="City">* City</label>
                <input class="form-control" type="text" id="City" name="City" value="">
                <span class="text-danger font-weight-bold field-validation-valid" data-valmsg-for="City" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="State">* State</label>
                <select class="form-select text-white" id="State" name="State" placeholder="California">
                    <option>California</option>
                </select>
                <span class="text-danger font-weight-bold field-validation-valid" data-valmsg-for="State" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="Zip">* Zip</label>
                <input class="form-control" type="text" id="Zip" name="Zip" value="">
                <span class="text-danger font-weight-bold field-validation-valid" data-valmsg-for="Zip" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="DOB">* Date of Birth</label>
                <input class="form-control" type="text" id="DOB" name="DOB" value="">
                <span class="text-danger font-weight-bold field-validation-valid" data-valmsg-for="DOB" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="FieldofWork">* Field of Work</label>
                <input class="form-control" type="text" id="FieldofWork" name="FieldofWork" value="">
                <span class="text-danger font-weight-bold field-validation-valid" data-valmsg-for="FieldofWork" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="Degree">* Degree</label>
                <input class="form-control" type="text" id="Degree" name="Degree" value="">
                <span class="text-danger font-weight-bold field-validation-valid" data-valmsg-for="Degree" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="Company">* Company</label>
                <input class="form-control" type="text" id="Company" name="Company" value="">
                <span class="text-danger font-weight-bold field-validation-valid" data-valmsg-for="Company" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="Availability">* Availability</label>
                <input class="form-control" type="text" id="Availability" name="Availablity" value="">
                <span class="text-danger font-weight-bold field-validation-valid" data-valmsg-for="Zip" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <label for="TermsofService"> 
                <input class="form-control" type="checkbox"> When applying as a mentor, I agree to the <a href="/TOS">Terms and Conditions</a> of Delete the Divide*
            </label>
        </div>
        <br>
        <div class="row" style="text-align:center;">
            <div class="form-group col-12">
                <button type="submit" class="btn dark-button float-center">Check Eligibility</button>
            </div>
        </div>
    </div></div>
                    </div>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8HcgS-b69XFLsb8E43zvm4yfCdba9GOXRQ3YQj8t2GJnl_T8lNCD0puTHPp_ORyvkOe9SG_ewfl3zZiE9S7vRPCh3J13ofSbDvQ1-jgEZt_y9u6E38bYAiPqA5zUBWyX0bD0gC6MV_p6E7ZvxcgLb9w"></form>
            </div>
        </div>
    </section>

    <div class="modal fade" id="getinvolved-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content full section-3 odd highlights dtd_info_box border-gradient-purple" style="background-color:#040402">
                <div class="modal-header">
                    <h3 class="m-0 text-center">Get Involved</h3>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body pt-0">
                    <div class="col-12">
                        <p>Eligibility is not required. Thank you for your interest to get involved with Delete The Divide™.  Click the CONTINUE button to complete the Get Involved form.</p>
                        <p class="text-center"><a class="btn ml-lg-auto dark-button" href="/GetInvolved">CONTINUE</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

 
