@page "/"
@model DashboardModel





<!-- Main -->
<main>

    <!-- Text -->
    <div class="row">
        <div class="col-12 align-self-center">




            <!--<h2 class="featured ml-0">Profile Home</h2>-->

            <div class="row mt-4 mt-md-0">

                <div class="col-4 col-md-3 mb-4 text-center">
                    <img class="card-img-top rounded" src="https://members.deletethedivide.org/assets/images/user.png" alt="user image">
                    <a href="/Profile/AvatarList"><small class="d-block mt-2">Choose Avatar</small></a>
                </div>
                <div class="col-8 col-md-9 mb-4">
                    <h5 class="featured mt-0 mb-2">John Doe</h5>
                    <div class="col-12 p-0">
                    </div>
                    <ul class="dtd-li">
                        <li>District 1</li>
                        <li>My progress: 0%</li>
                    </ul>


                </div>
            </div>
            <div class="row">

            <!-- About Me Section -->
            <div class="container">
                <h4 class="about-me">About Me</h4>
                <p class="about-me">@Model.AboutMe</p>
            </div>

                <div class="col-md-12 col-sm-12 mb-12">


                    @foreach (var mentee in Model.CurrentMentees)
                    {
                        <span class="rounded-pill pill-large text-white bg-secondary"> @mentee.Name</span>
                        <button class="btn btn-danger" onclick="showConfirmationPopup('@mentee.Name')">x</button>
                    }
                    <script>
                        function showConfirmationPopup(menteeName) {
                            var reason = prompt("Why do you want to remove " + menteeName + "?");
                            if (reason) {
                                // The user entered a reason, perform the removal logic here
                                // For example, you can make an AJAX request to the server to remove the mentee
                            }
                        }
                    </script>

                </div>
            </div>
            <div class="container">
                <h4 class="about-me">About me</h4>
                <p class="about-me">@Model.AboutMe</p>
            </div>

            <script>
                $(document).ready(() => {

                    checkDes('pathwayDetail', 'pathwayID');

                })
            </script>
        </div>
    </div>

</main>