@page "/feedbackreceived"
@model DTD_Mentorship_Project.Pages.FeedbackReceivedModel
@{
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://www.pngkey.com/png/detail/233-2332677_ega-png.png" width="200" height="200" class="img-fluid" alt="Mentor Image">
        </div>
        <div class="col-md-6">
            <div class="row">
                <h1 class="col-md-6">Name</h1>
                <h2 class="col-md-6">UX/UI Design</h2>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">Feedback received</div>
            </div>
            <div class="row">
                <button>Test button</button>
            </div>
        </div>
    </div>
</div>