@page "/submission"
@model DTD_Mentorship_Project.Pages.SubmissionModel
@{
    // Layout = null;
    Layout = "~/Pages/Shared/_LayoutNoLeft.cshtml";
}

<div class="submissionpage">
    <h1 class="submission">Submission Received!</h1>
    <div class="text2">
        Thank you for taking the time to apply.
        We will review your submission and contact you with further steps.
        If you have any questions feel free to reach out at
        <span class="email">dtdsupport@gmail.com</span>. 
        We hope you have a nice day.
    </div>
</div>