@page
@model DTD_Mentorship_Project.Pages.SubmissionModel
@{
}

<div class="page_sub">
    <h1 class="submission">Submission Received!</h1>
    <div class="text">
        Thank you for taking the time to apply. 
        We will review your submission and contact you with further steps. 
        If you have any questions feel free to reach out at 
        <span>dtdsupport@gmail.com</span>.
        
    </div>
</div>
<style>
    .page_sub{
        text-align:center;
        margin:0;
        border:0;
        padding:0;
        width:100%;
        background-color: #191919;
        color: white;
    }

    .submission{
        margin-top:100px;
        background-color:purple;
        height:100px;
        width:100%;
        position:relative;
        margin:0px;
    }

    .text{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        margin:0px;
    }



    .container{
        margin:0px;
        padding:0px;
        border:0px;
        width:100%;
    }
    .pb-3{
        padding-bottom:0 !important;
    }
</style>